<section id="section-footer" class="section--footer">


  <div class="section__container">
      <nav class="nav--footer">
    {% for item in site.data.nav-footer %}
      <a href="{{ item.link }}" class="js-btn" data-hover="{{ item.name }}">{{ item.name }}</a>
      {% unless forloop.last %}
        <span aria-hidden="true" class="separator--footer">•</span>
      {% endunless %}

    {% endfor %}
      </nav>
    {% for item in site.data.footer.section-disclaimer.list %}
      <p class="disclaimer--footer">{{ item.text }}</p>
    {% endfor %}

    <small class="copyright--footer">Copyright &copy; {{ "now" | date: "%Y" }} AmendLogic. All rights reserved.</small>
  </div>
</section>
