<section id="section-contact" class="section--contact">
  <div class="section__title">
    <h3 class="font-fjalla">{{ site.data.footer.section-contact.title }}</h3>
    <p>{{ site.data.footer.section-contact.description }}</p>
    <div class="form-group">
      <input type="text" class="input" placeholder="Your Email">
      <button class="input-button">{{ site.data.footer.section-contact['btn-text'] }}</button>
    </div>
  </div>

  <div class="section__container">
    {% for item in site.data.footer.section-disclaimer.list %}
      <p>{{ item.text }}</p>
    {% endfor %}
  </div>
</section>
