<!-- ==============================
     Desktop Navigation
============================== -->
<nav class="nav--desktop">
  {% for item in site.data.nav %}
    <a href="{{ item.link }}" class="js-btn {% if page.url == item.link or page.url == item.link | append: '#' %}selected{% endif %}" data-hover="{{ item.name }}">
      {{ item.name }}
    </a>
  {% endfor %}
</nav>

<!-- ==============================
     Mobile Navigation (Details/Summary)
============================== -->
<div class="nav--mobile">
  <details>
    <summary>
      <i class="fas fa-cube" aria-hidden="true"></i>
    </summary>

    <div class="mobile-list">
      {% for item in site.data.nav %}
        <a href="{{ item.link }}" class="js-mobile-btn {% if page.url == item.link or page.url == item.link | append: '#' %}selected{% endif %}" data-hover="{{ item.name }}">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>
  </details>
</div>
