<nav class="nav--desktop">
  {% for item in site.data.nav %}
    <a href="{{ item.link }}" class="js-btn {% if page.url == item.link %}selected{% endif %}" data-hover="{{ item.name }}">{{ item.name }}</a>
  {% endfor %}
</nav>

<nav class="nav--mobile">
  <!-- Hamburger Button -->
  <button
    class="nav--icon"
    id="nav-toggle"
    aria-label="Open navigation"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <i class="fas fa-cube" aria-hidden="true"></i>
  </button>

  <!-- Mobile Menü -->
  <div id="mobile-menu" class="mobile-list" hidden>
    <div class="centered">
      {% for item in site.data.nav %}
        <a href="{{ item.link }}" class="js-btn js-mobile-btn" data-hover="{{ item.name }}">{{ item.name }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
