@font-face {
  font-family: "Fjalla One";
  src:
    url("../font/FjallaOne-Regular.woff2") format("woff2"),
    url("../font/FjallaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../font/OpenSans-VariableFont_wdth,wght.woff2") format("woff2"),
    url("../font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

